/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-inline: 10vw;
  background: #150046;
  color: rgb(255, 255, 255);
}

.line {
  height: 61px;
  width: 2px;
  background: rgb(255, 255, 255);
  margin-inline: 100px;
}

.grow-list {
  flex: 1;
}
.grow-list ul {
  list-style: none;
  display: flex;
}

.grow-list ul li {
  padding-inline-end: 50px;
}

.button-small {
  background: #a133c9;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding-inline: 30px;
  padding-block: 15px;
}

section[aria-label='hero'] {
  height: 85vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #3c055566, #2d007063), url(./assets/bg.png);
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
  width: 75vw;
}

.hero h1 {
  font-size: 7rem;
  margin-block-end: 2rem;
  line-height: 1;
}

.hero p {
  font-size: 2rem;
  margin-block-end: 3rem;
}

.button-large {
  font-size: 1.5rem;
  background: #a133c9;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding-inline: 50px;
  padding-block: 25px;
}
