/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.navbar-container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10vw;
  height: 120px;
}

.navbar-container img {
  width: 100px;
  margin-inline-end: 7vw;
}

.grow-list {
  flex-grow: 2;
}

.grow-list ul {
  display: flex;
  list-style: none;
}

.grow-list ul li {
  margin-inline-end: 3vw;
  color: #919191;
}

.grow-list ul li:first-child {
  font-weight: bold;
}

.button-group .nav-button {
  background: #4e3ad2;
  color: #ffffff;
  padding-inline: 2em;
  padding-block: 0.8em;
  border: none;
  border-radius: 10px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 10vw;
}

h1.heading-text {
  font-size: 5em;
  padding-inline-end: 100px;
  line-height: 1.2;
  margin-block-end: 0.5em;
}

h1.heading-text span {
  color: #4e3ad2;
}

.banner-container p.description {
  padding-inline-end: 150px;
  color: #919191;
  font-size: 1.2em;
  margin-block-end: 3em;
}

.nav-button {
  background: #4e3ad2;
  color: #ffffff;
  padding-inline: 2em;
  padding-block: 0.8em;
  border: none;
  border-radius: 10px;
}
